
.main {
    background-image: url('@img/main/main-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: url('@img/main/wave.svg') bottom no-repeat;
    }

    

    &__container {
        padding-top: rem(170);
        padding-bottom: rem(300);
    }

    &__content {}

    &__label {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(26);
        line-height: math.div(39, 26);
        font-weight: 700;
        letter-spacing: 0em;
        margin-bottom: rem(25);

        @media (max-width:$mobile){
            font-size: rem(22);
            line-height: math.div(34, 22); 
        }
    }

    &__value {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(64);
        line-height: math.div(96, 64);
        font-weight: 600;
        letter-spacing: 0em;
        margin-bottom: rem(39);

        @media (max-width:$mobile){
            font-size: rem(48);
            line-height: math.div(62, 48); 
        }
    }

    &__discont {}

    &__button {}
}
.discont-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: rem(29);
    margin-bottom: rem(92);

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: rem(205);
        height: rem(205);
        border-radius: 50%;
        background-color: $accentColor;
    }

    &__label {
        margin-top: rem(-35);
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(64);
        line-height: math.div(96, 64);
        font-weight: 700;
        letter-spacing: 0em;

        @media (max-width:$mobile){
            font-size: rem(56);
            line-height: math.div(88, 56); 
        }
    }

    &__value {
        margin-top: rem(-10);
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(32);
        line-height: math.div(48, 32);
        font-weight: 700;
        letter-spacing: 0em;

        @media (max-width:$mobile){
            font-size: rem(28);
            line-height: math.div(44, 28); 
        }
    }

    &__text {
        max-width: rem(324);
        color: $whiteColor;
        font-family: $fontFamily;        
        font-size: rem(36);
        line-height: math.div(54, 36);
        font-weight: 600;
        letter-spacing: 0em;

        @media (max-width:$mobile){
            font-size: rem(30);
            line-height: math.div(48, 30); 
        }

        p {
            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }
    }
}

//========================================================================================================================================================

.categories {

    &__container {
        padding-top: rem(27);

    }

    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__label {}

    &__value {}

    &__body {
    }

    &__footer {}
}

.categories-body {
    

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__column {
        max-width: rem(277);
        width: 100%;
        height: rem(502);
        position: relative;
        padding-left: rem(30);
        padding-right: rem(30);
        

    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

        &_1 {
            background: url('@img/categories/image01.png') center center no-repeat;
        }

        &_2 {
            background: url('@img/categories/image02.png') center center no-repeat;
        }

        &_3 {
            background: url('@img/categories/image03.png') center center no-repeat;
        }

        &_4 {
            background: url('@img/categories/image04.png') center center no-repeat;
        }
    }

    &__title {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(24);
        line-height: math.div(36, 24);
        font-weight: 700;
        letter-spacing: 0em;
        margin-bottom: rem(14);
    }

    &__text {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(20);
        line-height: math.div(30, 26);
        font-weight: 600;
        letter-spacing: 0em;
        margin-bottom: rem(40);
    }
}
.categories-footer {
    background-color: $accentColor;
    padding-top: rem(43);
    padding-bottom: rem(59);

    &__container {

    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__column {
        max-width: rem(380);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: rem(42);

        img {
            width: rem(115);
            height: rem(115);
            object-fit: cover;
            max-width: 100%;
        }
    }

    &__title {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(20);
        line-height: math.div(30, 20);
        font-weight: 700;
        letter-spacing: 0em;
        margin-bottom: rem(22);
    }

    &__text {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(17);
        line-height: math.div(26, 17);
        font-weight: 600;
        letter-spacing: 0em;
    }
}

//========================================================================================================================================================

.locations {
    background-color: #f5f5f5;
    padding-top: rem(76);
    padding-bottom: rem(44);

    &__container {}

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(24);
    }

    &__label {}

    &__value {}

    &__body {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__column {
        max-width: rem(380);
    }

    &__image {
        display: flex;
        width: 100%;
        overflow: hidden;
        border-radius: rem(10);
        margin-bottom: rem(20);

        img {
            width: rem(380);
            height: rem(440);
            object-fit: cover;
            max-width: 100%;
        }
    }

    &__point {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(11);

        img {
            width: rem(21);
            height: rem(33);
            object-fit: cover;
            max-width: 100%;
        }
    }

    &__text {
        text-align: center;
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(20);
        line-height: math.div(30, 20);
        font-weight: 700;
        letter-spacing: 0em;
    }
}

//========================================================================================================================================================

.delivery {
    padding-top: rem(108);
    padding-bottom: rem(68);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__content {}

    &__heading {
        position: relative;
        padding-bottom: rem(16);

        &::before,&::after{
            content:'';
            position: absolute;
        }

        &::before{
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background-color: $accentColor;
            z-index: 1;
        }

        &::after{
            width: 70%;
            height: 5px;
            bottom: 0;
            right: 0;
            z-index: 2;
            background-color: #fff;
        }
    }

    &__label {}

    &__value {}

    &__body {
        padding-top: rem(16);
        margin-bottom: rem(41);
    }

    &__subtitle {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(26);
        line-height: math.div(39, 26);
        font-weight: 600;
        letter-spacing: 0em;
        margin-bottom: rem(16);
    }

    &__text {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(17);
        line-height: math.div(26, 17);
        font-weight: 400;
        letter-spacing: 0em;
    }

    &__footer {}

    &__image {
        flex: 1 1 auto;
        width: 100%;

        img {
            width: rem(585);
            height: rem(585);
            object-fit: contain;
            max-width: 100%;
        }
    }
}

.footer-delivery {
    

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(15);
    }

    &__column {
        max-width: rem(277);
    }

    &__image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: rem(19);

        img {
            width: rem(100);
            height: rem(100);
            object-fit: cover;
            max-width: 100%;
        }
    }

    &__title {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(20);
        line-height: math.div(30, 20);
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: rem(8);
    }

    &__text {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(17);
        line-height: math.div(26, 17);
        font-weight: 400;
        letter-spacing: 0em;
    }
}

//========================================================================================================================================================

.team {
    padding-top: rem(47);
    padding-bottom: rem(65);

    &__container {}

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(84);
        
    }

    &__label {}

    &__value {
        position: relative;
        padding-bottom: rem(16);

        &::before{
            content:'';
            position: absolute;
            width: 33%;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background-color: $accentColor;
        }
    }

    &__body {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__column {
        max-width: rem(277);
    }

    &__card {}
}
.card-team {

    &__image-ibg {
        display: flex;
        overflow: hidden;
        padding-bottom: 350px;
        width: rem(277);
        margin-bottom: rem(37);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        img {
            object-position: center;
            transition: all 0.3s ease 0s;
        }

        @media (any-hover: hover){
            &:hover{
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__title {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(24);
        line-height: math.div(36, 24);
        font-weight: 600;
        letter-spacing: 0em;
        margin-bottom: rem(13);
    }

    &__text {
        color: $mainColor;
        font-family: $fontFamily;
        font-size: rem(20);
        line-height: math.div(30, 20);
        font-weight: 400;
        letter-spacing: 0em;
    }
}

//========================================================================================================================================================
.app {
    padding-top: rem(65);
    padding-bottom: rem(135);
    background-color: $accentColor;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__content {}

    &__title {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(55);
        line-height: math.div(83, 55);
        font-weight: 700;
        letter-spacing: 0em;
        margin-bottom: rem(32);
    }

    &__text {
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: rem(26);
        line-height: math.div(39, 26);
        font-weight: 600;
        letter-spacing: 0em;
        margin-bottom: rem(73);
    }

    &__images {
        display: flex;
        align-items: center;
        column-gap: rem(12);
    }

    &__image-link {
        display: flex;

        img {
            width: rem(176);
            height: rem(55);
            object-fit: cover;
            max-width: 100%;
        }
    }

    &__image {
        display: flex;

        img {
            width: rem(585);
            height: rem(534);
            object-fit: cover;
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.partners {
    padding-top: rem(75);
    padding-bottom: rem(75);

    &__container {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);
    }

    &__image {
        display: flex;

        img {
            width: rem(278);
            height: rem(200);
            object-fit: cover;
            max-width: 100%;
        }
    }
}


